[submodule "yolov7"]
	path = yolov7
	url = https://github.com/WongKinYiu/yolov7
[submodule "yolov7-segmentation"]
	path = yolov7-segmentation
	url = https://github.com/RizwanMunawar/yolov7-segmentation
[submodule "yolov7-object-tracking"]
	path = yolov7-object-tracking
	url = https://github.com/RizwanMunawar/yolov7-object-tracking
